<h1>User details</h1>
<h3 class="user-id">User ID: <%= @user.id %></h3>
<main id="user-index" class="page">
<div id="user-page">
<div class="back-link-container">
        <%= link_to "Home", root_path, class: "back-link" %>
        <%= link_to "Back", :back, class: "back-link" %>
      </div>
      <br>
      <div class="user-container">
      <div class="image-div">
<%= image_tag('user.png',  :width => "100px", :heigth=>"100px") %>
</div>
<div class="userdetails-div">
<h3><%= @user.name %></h3>
<p class="posts-counter">Number of posts: <%= @user.posts_counter%></p>
</div>
</div>
<article class="user-bio">
      <h3>Bio</h3>
      <div class="bio"><%= @user.bio %></div>
    </article>

<article class="post-article">
<% @posts.each do |post| %>
<div class="post-container">
<h3 class="post-title"><%= post.title %></h3>
<div class="post-details">
              <p class="details"><%= post.text[0..100]... %></p>
            </div>
 <div class="comment-like-container">
              <p class="coment-likes-data">
                Comment: <%= post.comments_counter || 0 %>, Likes: <%= post.likes_counter || 0 %>
              </p>
            </div>
</div>
<%end%>
</article>
<div class="see-posts">
        <%= link_to "See all posts", "#{@user.id}/posts", class: "see-link" %>
    </div>
</div>
</main>
